<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="col-6 text-white">
                    Salary Portal
                </div>
                <div class="col-6 text-right">
                    
                </div>
            </div>
            <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Contact No</th>
                        <th>Salary Dates</th>
                        <th>present Days</th>
                        <th>Total Advance</th>
                        <th>Salary Amount</th>
                       
                    </tr>
                </thead>  
                <tbody>
                    <tr *ngFor="let item of salaryArray;let sr=index">
                    <td>{{sr+1}}</td>
                    <td>{{item.empName}}</td>
                    <td>{{item.empContactNo}}</td>
                    <td>{{item.salaryDate |date:'dd-MMM-yyyy'}}</td>
                    <td>{{item.presentDays  }}</td>
                    <td>{{item.totalAdvance}}</td>
                    <td>{{item.salaryAmount }}</td>
                  
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="col-6 text-white">
                   New Employee Salary
                </div>
                <div class="col-6 text-right">
                    
                </div>
            </div>
            <div class="card-body">
               <form>
                <div class="row">
                    <div class="col-6">
                        <label for="">Select Employee</label>
                        <select (change)="getEmpData()" name="employeeId"  class="form-control" [(ngModel)]="salarObj.employeeId">
                            <option *ngFor="let emp of employeeArray" [value]="emp.empId">{{emp.empName}}</option>
                        </select>
                       
                    </div>

                    <div class="col-6">
                        <label for="">Salary Date</label>
                        <input type="date" class="form-control" name="salaryDate" [(ngModel)]="salarObj.salaryDate">
                    </div>

                    <div class="col-6">
                        <label for="">Total Advance</label>
                        <input type="text" class="form-control" name="totalAdvance" [(ngModel)]="salarObj.totalAdvance">
                    </div>

                    <div class="col-6">
                        <label for="">Present Days</label>
                        <input type="text" class="form-control" name="presentDays" [(ngModel)]="salarObj.presentDays">
                    </div>

                    <div class="col-6">
                        <label for="">Salary Amount</label>
                        <input type="text" class="form-control" (focus)="calculateSalary()" name="salaryAmount" [(ngModel)]="salarObj.salaryAmount">

                    </div>
 
                </div>

                <div class="row pt-3">
                    <!-- <div class="col-6">
                        <button class="btn btn-secondary text-center btn-sm" >Reset</button>
                    </div> -->
                    <div class="col-6">
                        <button class="btn btn-success text-center btn-sm"  (click)="saveSalary()">Save</button>
                       
                    </div>
                </div>
               </form>
            </div>
        </div>
    </div>

</div>

